@{
    ViewData["Title"] = "Home page Racing";
}

<div class="text-center">
    <h1 style="padding-bottom:75px;font-size:40px" class="display-4">Welcome to the Illegal Racing Page</h1>
</div>
<div class="text-center">
    <p style="padding-bottom:200px;font-size:20px" class="display-4">Races list :</p>
</div>
<button>Add a new race !</button>
